*{
    font-family: 'Poppins', sans-serif;
}
.space1{
    height: 50px;
    width: 100%;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color:#606060;
}

.space2{
    height: 20px;
    width: 100%;
}

.imgContainer {
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: white;
    background: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url('../images/common_bg.gif');
    background-size: cover ;
    background-repeat: no-repeat;
}

.breadCrumbBtn {
    background-color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.breadCrumbBtn a{
    text-decoration: none !important;
    color: black;
}

.breadCrumbBtn:hover {
    background-color: rgba(20, 20, 20);
    cursor: pointer;
}

.breadCrumbBtn:hover a{
    color:white !important;
    cursor: pointer;
}

.radius{
    border-radius: 8px;
}

.breadCrumbCenter {
    text-align: center;
    position: relative;
}

.commontxt {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2.2pc;
    color: white;
    text-shadow: 0.5px 0.5px white;
    margin: 0rem !important;
}

.commontxtsmall {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1pc;
    color: white;
    text-shadow: 0.5px white;
}


.commonTitle{
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    color: #004085;
    text-shadow: 1px 1px #dde5eb;
    animation: titlemove 10s reverse 1;
}

.about-contentWrap img {
    float: right;
    margin-left: 30px;
}

/*<!--********************************** footer css start ***************************-->*/
.footer{
    width: 100%;
    height:auto;
    padding:70px 0 20px 0;
    background: #00abff;
    position: relative;
}
.footer p{
    color:#fff;
}
.footer-div p{
    text-align: justify;
}
.footer li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color:#fff;
    text-transform: capitalize;
}

.footer h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom:25px ;
    font-size: 1.2rem !important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
.footer i{
    color:white;
    padding:5px 10px 5px 10px;
    border-radius: 50%;
    background: transparent;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
#myBtn{
    display: none;
    position:fixed;
    bottom:20px;
    right:40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding:10px;
    border-radius: 10px;
}
#myBtn:hover{
    background: #606060;
}
/*<!--********************************** footer css end ***************************-->*/
.product-cards{
    margin-bottom: 20px;
}
.product-cards img{
    max-width:50px;
    max-height: 50px;
}
.product-cards p{
    font-size: 0.8rem;
    text-align: justify;
}
.product-cards .card {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    border: medium none;
    padding: 20px !important;
    border-radius: 3px;
    transition: 0.3s;
    text-align: center;
}
.product-cards .card:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, rgba(129, 209, 137, 0.5), rgba(40, 221, 224, 0.5));
    transform: scale(1.03);
}
.product-cards .card:hover img{
    max-width:50px;
    max-height: 50px;
    transition: 0.3s;
}
.product-cards h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
