@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}

.view, body, html {
    height: 100%
}

/* .navbar {
    background-color: rgba(0, 0, 0, .2)
} */

nav.scroll {
    background-color: #A1572F;
    color: #eef;
  }
  

.navbar a {
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.page-footer, .top-nav-collapse {
    background-color: #1C2331
}

ul.navbar-nav .nav-item:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}

.navbar-nav .nav-item:hover:after {
    width: 100%;
    background: black;
    cursor: pointer;
}

.navbar-nav>li.active>a {
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

/* .navbar-toggler{
    background-color: white;
}

.navbar-toggler span .navbar-toggler{
    color: red;
} */

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #1C2331
    }
}