@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&display=swap');
* {
    font-family: 'Archivo', sans-serif;
}

@media (max-width: 768px) and (max-width: 992px) and (min-width:1200px) {
    .navbar:not(.top-nav-collapse) {
        background: rgba(68, 67, 67, 0.2) !important;
    }
}

.view, body, html {
    height: 100%
}

.navbar {
    background-color: rgba(68, 67, 67, 0.2)!important;
}

nav.scroll {
    background-color: rgba(68, 67, 67, 0.2);
    color: #eef;
}

.navbar a {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.page-footer, .top-nav-collapse {
    background-color: rgba(68, 67, 67, 0.2);
}

ul.navbar-nav .nav-item:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}

.navbar-nav .nav-item:hover:after {
    width: 100%;
    background: black;
    cursor: pointer;
}

.navbar-nav .nav-item:hover a {
    color: black;
}

.navbar-nav>li.active>a {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.navbar-toggler{
    background-color: white!important;
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #1C2331
    }
}