@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&display=swap');
*{
    font-family: 'Archivo', sans-serif;
}

.elementor-337 .elementor-element.elementor-element-3422506>.elementor-widget-container {
    padding: 0px 0px 0px 10px;
    background-color: transparent;
    background-image: linear-gradient(250deg, #FFFFFF 16%, #067EB0 100%);
}

.faded-container {
    background: linear-gradient(to right, #067EB0, white);
    padding: 10px 0px 10px 10px;
}

.faded-container h4 {
    color: white;
}

.paragraph p {
    color: black;
    font-size: 15px;
    text-align: justify;
}

.webmobdev_img {
    background-image: url('../images/web-design.png');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.uiux_img {
    background-image: url('../images/webdev.png');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.data_analysis_img {
    background-image: url('../images/data\ analizing.png');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

@media(max-width:768px) {
    .webmobdev_img {
        height: 300px;
        margin-bottom: 5px;
    }
    .uiux_img {
        height: 300px;
        margin-bottom: 5px;
    }
    .data_analysis_img {
        height: 300px;
        margin-bottom: 5px;
    }
    .onlyForDesktop {
        display: none;
    }
}

@media(max-width:992px) {
    .onlyForDesktop {
        display: none;
    }
}

@media(min-width:992px) {
    .onlyForMobile {
        display: none;
    }
}