html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color:#606060;
}
.product-cards h2, .serviceDiv h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
i{
    color:#2fcccd;
    padding:5px 10px 5px 10px;
    border-radius: 50%;
    background: white;
}
.projects i{
    color:steelblue;
}
.more a{
    text-decoration: none;
    color:black;
}
.more a:hover{
    text-decoration: none;
    color:black;
}
.more:hover i{
    color: white;
    background: black;
    cursor: pointer;
}
.header{
    width:100%;
    height:100vh;
    background-image:url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 60%, 50% 89%, 0 60%, 0 0);
    position: relative;
}
/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    bottom: 0;
    z-index:4;
    background-color: lightblue;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url('../images/preloader.gif');
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    background: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid #19bee1;
}
.loading:after {
    content: url('../images/logo2.png');
    background: none;
    width: 140%;
    height: 140%;
    position: absolute;
    padding: 40px;
    border-radius: 100%;
    top: -20%;
    left: -20%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/*.navbar:before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    top:0%;*/
/*    bottom:0%;*/
/*    left:0;*/
/*    right:0;*/
/*    opacity: 0.3;*/
/*    z-index:-1;*/
/*    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);*/

/*}*/

/*.nav-item a{*/
/*    color: #fff !important;*/
/*    font-weight:bold;*/

/*}*/

.header-section{
    width: 100%;
    height: inherit;
    color:white;
    text-align: center;
    position:relative;
    background: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3));
    z-index:-1;
    clip-path: polygon(100% 0%, 100% 60%, 50% 89%, 0 60%, 0 0);
}

.center-div{
    width:100%;
    height:auto;
    position: absolute;
    top:50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.header-buttons a{
    border: 1px solid white;
    border-radius: 100px;
    margin:0 5px;
    padding:12px 35px;
    outline: none;
    color:#fff;
    font-size:1rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
}
.header-buttons a:hover{
    color:#50d1c0;
    background: white;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.header-buttons1{
    color:#50d1c0 !important;
    background: white;
    text-decoration: none;
}
.header-buttons1:hover{
    color:white!important;
    background: transparent !important;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.center-div p{
    font-size: 1.3rem;
    padding:10px 0 20px 0;
    color: white;
}
.aboutHeading{
    transform: rotate(-90deg);
}
/*<!--********************************** header-about css start ***************************-->*/
.header-about{
    width: 100%;
    height:auto;
    margin: 25px 0;
    text-align: center;

}
.about-card{
    background: url("../images/aboutImage.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 50px;
}
.about-card .card {
    background: rgba(255,255,255,0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    border: medium none;
    padding: 20px !important;
    border-radius: 3px;
    transition: 0.3s;
    text-align: justify;
}

/*<!--********************************** header-about css end ***************************-->*/
/*<!--********************************** header-product css start ***************************-->*/

.header-product{
    width: 100%;
    height:auto;
    margin: 100px 0;
    text-align: center;
}
.product-cards .card{
    background: #fff;
    box-shadow:0 2px 4px rgba(0,0,0,.25);
    border: medium none;
    padding: 20px !important;
    border-radius: 3px;
    transition: 0.3s;
    text-align: center;
}
.product-cards img{
    max-width:50px;
    max-height: 50px;
}
.product-cards .card:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, rgba(86, 52, 209, 0.5), rgba(40, 221, 224, 0.5));
    transform: scale(1.03);
}

.product-cards .card:hover img{
    transform: rotate(45deg);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

/*<!--********************************** header-product css end ***************************-->*/

/*<!--********************************** services css start ***************************-->*/

.services{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}
.service-icons{
    display:flex;
    justify-content: center;
}
.service-icons img{
    max-width:50px;
    max-height: 50px;
    align-items: center;
}
.headings{
    margin-bottom: 50px;
}
.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}
.progress{
    height: 0.6rem !important;
    margin-bottom:25px !important;
    background: #606060;
}
.serviceDiv{
    text-align: justify;
}
.services .web:hover img{
    transform: scale(1.2);
    border-radius: 50%;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
}
.services .design:hover img{
    transform: scale(1.2);
    border-radius: 50%;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
}
.services .mobile:hover img{
    transform: scale(1.2);
    border-radius: 50%;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
}

/*<!--********************************** services css end ***************************-->*/

/*<!--********************************** projects css start ***************************-->*/
.projects{
    padding: 50px 0;
    margin:100px 0;
    background: #f7f7f9;
}
.projects h1{
    font-size:2rem;
    text-align:center;
}


/*<!--********************************** projects css end ***************************-->*/
/*<!--********************************** team css start ***************************-->*/
/*.team{*/
/*    width:100%;*/
/*    height:100vh;*/
/*    padding:80px 0;*/
/*}*/

/*.box{*/
/*    text-align: center;*/
/*    border:1px solid rgba(0,0,0,0.2);*/
/*    box-shadow: 0 50px 10px 0 rgba(0,0,0,0.3);*/
/*    border-radius: 2px;*/
/*    transition: 0.3s ease;*/

/*}*/
/*.box img{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/
/*.box:hover{*/
/*    background: #16c9f6;*/

/*}*/

/*::placeholder{*/
/*    font-size: 10px;*/
/*}*/
/*<!--********************************** team css end ***************************-->*/
/*<!--**********************************career css start ***************************-->*/
.career{
    width: 100%;
    height: auto;
    margin: 80px auto;
}
.career-buttons a{
    border: 1px solid black;
    border-radius: 100px;
    margin:0 5px;
    padding:12px 35px;
    outline: none;
    color:black;
    font-size:1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.career-buttons a:hover{
    color:white;
    border: none;
    background: #50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
/*<!--********************************** career css end ***************************-->*/

/*<!--********************************** footer css start ***************************-->*/
.footer{
    width: 100%;
    height:auto;
    bottom: 0;
    padding:70px 0 20px 0;
    background: #00abff;
}
.footer p{
    color:#fff;
}
.footer-div p{
    text-align: justify;
}
.footer li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color:#fff;
    text-transform: capitalize;
}

.footer h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom:25px ;
    font-size: 1.2rem !important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
#myBtn{
    display: none;
    position:fixed;
    bottom:20px;
    right:40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding:10px;
    border-radius: 10px;
}
#myBtn:hover{
    background: #606060;
}
/*<!--********************************** footer css end ***************************-->*/



/*<!--********************************** media queries ***************************-->*/

@media(max-width: 768px){
    .nav-item{
        text-align: center !important;
    }
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

