@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&display=swap');
*{
    font-family: 'Archivo', sans-serif;
}

.app {
    display: table;
    margin: 0 auto;
}

.app .row {
    margin-bottom: 20px;
    display:flex; /* added */
    justify-content:center; /* added */
}

.node {
    display: inline-block;
    text-align: center;
    width:200px;
    height:200px;

}

.our-team{
    padding-bottom: 20px;
    width:100%;
    text-align: center;
    display:inline-block;
    font-family:Tahoma, Geneva, sans-serif;
    /* background:rgb(17, 100, 102, 0.6); */
    /* filter: grayscale(0%);	  */
}

.node:hover{
    text-align: center;
    display:inline-block;
    cursor: pointer;
    /* filter: grayscale(100%); */


}
.our-team .pic{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(17, 100, 102, 0.4);
    padding: 70px 20px 30px;
    margin-bottom: 20px;
    position: relative;
}
.our-team .description{
    font-size: 14px;
    color: white;
}
.our-team .pic img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: -40px;
    transition: all 0.6s ease 0s;
}
.node:hover .pic img {
    /* transform: rotate(-360deg); */
    transform-origin: 105% 100% 0;
    transform: rotateY(100deg);
    cursor: pointer;
}
.our-team .title{
    display: block;
    font-size:14px;
    font-weight: 800;
    color: white;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}
.our-team .post{
    display: block;
    font-size: 13px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-right:5px;
    position: relative;
}
.our-team .post:after{
    content: "";
    width: 30px;
    height: 3px;
    background: #eee;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}
.our-team .social{
    padding: 0;
    margin: 25px 0 0 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height:25px;
    background: #0e76a8;
    font-size: 14px;
    color: #fff;
}
.our-team .social li a:hover{
    background: black;
    cursor: pointer;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
@media only screen and (max-width: 767px){
    .our-team{ overflow: hidden; }
}
img {
    transform-origin: top right;
    transition: transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: 100ms;
    transform: translateX(21%) rotateZ(0deg) skewX(0deg);
    pointer-events: none;
}
