@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&display=swap');
* {
    font-family: 'Archivo', sans-serif;
}

.visionImg {
    /* The image used */
    background-image: url("../images/innerpage.jpg");
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about_img {
    background-image: url('../images/aboutus.jpg');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.vision_img {
    background-image: url('../images/vision.jpg');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.visionImg p {
    font-size: 20px;
    color: white;
    font-weight: 400;
    text-align: justify;
    padding-right: 35%;
    padding-left: 5%;
    line-height: 2;
}

.visionImg h2 {
    font-weight: 800;
    color: white;
    text-align: justify;
    padding-top: 25%;
    padding-left: 5%;
    line-height: 2;
}

.vision-box {
    background: white;
    border-width: 0px;
    border-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 5px #cad1d9;
    cursor: pointer;
    transition: transform .4s;
    margin: 10px;
}

.vision-box:hover {
    cursor: pointer;
    transform: scale(1.1);
    /* (110% zoom)*/
}

.vision-box-image {
    text-align: center;
}

.vision-box-image img {
    width: 15%;
    margin-top: -10%;
}

.vision-box:hover .vision-box-image img {
    /* transition: 1.2s;
    transform: rotateY(180deg); */
    cursor: pointer;
}

.vision-inner-box-image {
    margin: 5px;
    height: 180px;
}

.about-contentWrap {
    overflow: hidden;
}

.vision-inner-box-image h4 {
    font-size: 20px;
    font-family: 'Archivo Narrow', sans-serif;
    color: #004085;
    text-shadow: 1px 1px #6a7e9e;
    text-align: center;
}

.vision-inner-box-image p {
    padding: 0px 0px;
    margin-top: 20px;
    font-size: 0.8rem;
    text-align: center;
}

.inner-content-wrap .card {
    text-align: justify;
    padding: 15px 15px;
    box-shadow: 0px 1px 10px 4px rgba(204, 203, 202, 0.63);
    height: auto;
    width: 100%
}

@media(max-width:768px) {
    .visionImg p {
        text-align: justify;
        font-weight: 400;
        color: white;
        font-size: 16px;
        line-height: 2;
        padding-right: 0%;
        padding-left: 5%;
    }
    .visionImg h2 {
        font-weight: 500;
        color: white;
        text-align: justify;
        padding-top: 25%;
        padding-left: 5%;
        line-height: 2;
    }
    .vision-box {
        margin-bottom: 50px;
    }
    .vision-box:hover {
        cursor: pointer;
        transform: scale(1.02);
        /* (110% zoom)*/
    }
}